RewriteEngine On

# Remove www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Redirect sitemap.xml to sitemap.php
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Only rewrite if the file/folder does NOT exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
